---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: flask-app-metrics
  namespace: desafio-sre
  labels:
    app: flask-app
    release: prometheus
spec:
  selector:
    matchLabels:
      app: flask-app
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
  namespaceSelector:
    matchNames:
      - desafio-sre
