---
apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
  namespace: desafio-sre
  labels:
    app: flask-app
spec:
  type: ClusterIP
  selector:
    app: flask-app
  ports:
    - port: 80
      targetPort: 5000
      protocol: TCP
      name: http
    - port: 9999
      targetPort: 9999
      protocol: TCP
      name: metrics
